
.serviceD-photo {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
.serviceD-title {
    color: #0a165e;
    font-size: 23px;
    line-height: 2.5em;
}
.serviceD-text {
    color: #585b6f;
    line-height: 2em;
    margin-bottom: 2rem;
}
.serviceD-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.serviceD-list-text{
    color: #0a165e;
    display: flex;
    gap: 1rem;
    font-weight: bold;
}
.serviceD-contact {
    background-image: url(../../../img/service-details-section2/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
.serviceD-sidebar{
    margin-left: 30px;
}
.serviceD-sidebar-menu {
    margin-bottom: 2.5rem;
}
.serviceD-sidebar-menu-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.serviceD-sidebar-menu-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e3ec;
    border-radius: 0.5rem;
    color: #0a165e;
    text-decoration: none;
    font-weight: bold;
    padding: 1.3rem;
}

.serviceD-contact {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.serviceD-icon {
    background-color: #fff1;
    padding: 1.2rem;
    border-radius: 0.8rem;
}
.serviceD-contact-title {
    color: #fff;
    font-size: 35px;
    text-align: center;
}
.serviceD-contact-text {
    color: #babbc2;
    text-align: center;
    line-height: 1.8rem;
}

