.section9{
    background-image: url('../../img/section9/cta-bg2.png');
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 513px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.together{
    max-width: 800px;
    z-index: 2;
    position: relative;
    
    
}
.section-title9{
    color: #fff;
    font-size: 64px;
    font-weight: 600px;
      
}
.demo9{
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: flex;
    max-width: 600px;
    padding: 1rem 0rem 0rem;
    line-height: 1.6;
    opacity: 0.9;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

.cta-button9{
   
    background-color: #2b4dff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: 0 solid #2b4dff;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 16px 28.8px;
    text-wrap: nowrap;
}

@media (max-width: 479px) {
    .section-title9{
        font-size: 32px;
        text-align: center;
        display: flex;
    }
    .demo9{
        max-width: 100%;
        font-size: 14px;
        display: flex;
    }
    .cta-button9{
        padding: 12px 24px;
        font-size: 14px;
        display: flex;;
    }
}