.header-white{
    background-color: #f5f6f7;
}
.header-white-btm{
    background-color: #ffffff;
}

.header-white .left-row-topheader p{
    color: #0A165E;
}

.header-white .right-row-topheader a{
    color:  #0A165E;
}